*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
.cabecalho-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
    background-color: #F6ED19;
    padding-left: 0px;
}

.cont-01{
    width: 33.2%;
    padding: 25px;
    
}

.menu-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.button-menu{
    background-color: transparent;
}

.button-menu:focus + .menu-open{
    width: 17rem;
    height: 200vh;
    opacity: 1;
    top: 0;
}

/* ESTILIZAÇÃO DO MENU */

.menu-open{
    position: fixed;
    left: 0 ;
    width: 0;
    height: 0;
    background-color: #F6ED19;
    opacity: 0;
    border: 1px solid black;
}

.cont-01-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    width: 100%;
    height: 6rem;
}

.cont-02-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 15px;
    gap: 13px;
}

.title-menu-01{
    font-size: 30px;
    color: black;
    font-family: 'M PLUS 2';
    font-weight: 400;
}

.topico-categorias{
    font-size: 22px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: black;
    text-decoration: underline;
}

.cont-01-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-left: 15px;
}

.links{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    gap: 4px;
    text-decoration: none;
}

.title-categorias-menu{
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}

.icon-home-menu{
    width: 30px;
    height: 30px;
}

.list-services{
    width: 100%;
    height: max-content;
}

.service-options{
    width: 100%;
    height: max-content;
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
    margin-bottom: 18px;
}

.service-options-off{
    width: 100%;
    height: max-content;
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}


.title-services{
    font-size: 18px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}

.message-orc{
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: #000;
    text-decoration: underline;
}

.container-apps{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
}

.element-message-app{
    width: 220px;
    text-align: center;
    font-size: 13px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: #000;
}

.element-icon-apps{
    width: 60px;
    height: 60px;
}



/* FIM DO MENU */

.casa-e-escritorio{
    font-size: 18px;
    font-family: 'M PLUS 2';
    font-weight: 400;
    color: black;
}


.cont-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.2%;
    height: 5.5rem;
    pointer-events: none;
}

.logo-icon{
    width:60px;
    height: 55px;
    margin-bottom: -6px;
    pointer-events: none;
    user-select: none;
}

.title-logo{
    font-family: 'M PLUS 2';
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.075em;
    margin: 0px;
    user-select: none;
    pointer-events: none;
}

.cont-navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.2%;
    height: 90%;
}

.text-navegacao{
    color: black;
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
    transition: 0.5s;
}

.text-navegacao:hover{
    color: rgb(47, 47, 47);
    text-decoration: underline;
}

.text-navegacao-off{
    color: black;
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    text-decoration: none;
}


.text-navegacao-off:hover{
    color: rgb(47, 47, 47);
    text-decoration: underline;
}

.cont-whats-compra{
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 80px;
    height: 80px;
}

.link-whats{
    width: 100%;
    height: 100%;
}

.icon-whats-compra{
    width: 80%;
    height: 80%;
}

/* FAIXA 1 -- HISTÓRIA */
.cont-main-sobns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90.1vh;
    gap: 10px;

    background-color: #D3D3D3;
}

.cont-history-faixa1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    gap: 8px;

    background-color: #FFF853;
}

.icon-history{
    width: 35px;
    height: 35px;
}

.title-history{
    font-size: 25px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -0.075em;
}

.cont-info-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 45rem;

    border: 0.1px solid black;
}

.title-whats-insta{
    width: 24%;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    font-family: 'M PLUS 2';
    color: #000;
}

.icons-ctt{
    width:90px;
    height: 90px;
}



@media screen and (max-width:1000px) and (min-width: 300px) {
    /* CABEÇALHO */

    .cabecalho-home{
        height: 11rem;
    }
    .menu-icon{
        width: 60px;
        height: 60px;
    }
    .cont-logo{
        width: 35%;
        height: 7rem;
        pointer-events: none;
    }
    .logo-icon{
        width: 90px;
        height: 90px;
    }
    .title-logo{
        width: max-content;
        font-size: 50px;
    }
    .text-navegacao{
        display: none;
    }
    .text-navegacao-off{
        display: none;
    }

    /* LINK WHATS */

    .cont-whats-compra{
        width: 200px;
        height: 200px;
    }

    /* FAIXA 1 */

    .cont-main-sobns{
        justify-content: flex-start;
        padding-top: 25px;
        height: 91.7vh;
    
        background-color: #D3D3D3;
    }

    .cont-history-faixa1{
        height: 6rem;
    }
    .cont-info-history{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 80rem;
    
        border: 0.1px solid black;
    }
    .img-history{
        width: 100%;
        height: 50%;
    }
    .text-history{
        width: 100%;
        height: 50%;
    }
    .title-history{
        font-size: 45px;
    }
    .icon-history{
        width: 70px;
        height: 70px;
    }
}