* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 0px;
    margin: 0px;
}

body{
    background-color: white;
}

.cabecalho-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
    background-color: #F6ED19;
    padding-left: 0px;
}

/* ICONE DO WHATS */
.cont-whats-compra{
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 80px;
    height: 80px;
}

.link-whats{
    width: 100%;
    height: 100%;
}

.icon-whats-compra{
    width: 80%;
    height: 80%;
}

.cont-01{
    width: 33.2%;
    padding: 25px;
    
}

.menu-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.button-menu{
    background-color: transparent;
}

.button-menu:focus + .menu-open{
    width: 17rem;
    height: 200vh;
    opacity: 1;
    left: 0;
    top: 0;
}

.menu-open:hover{
    width: 17rem;
    height: 200vh;
    left: 0;
    opacity: 1;
    top: 0;
}

/* ESTILIZAÇÃO DO MENU */

.menu-open{
    position: fixed;
    left: -300px;
    width: 0;
    height: 0;
    background-color: #F6ED19;
    opacity: 0;
    border: 1px solid black;
}

.cont-01-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    width: 100%;
    height: 6rem;
}

.cont-02-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 15px;
    gap: 13px;
}

.title-menu-01{
    font-size: 30px;
    color: black;
    font-family: 'M PLUS 2';
    font-weight: 400;
}

.topico-categorias{
    font-size: 22px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: black;
    text-decoration: underline;
}

.cont-01-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-left: 15px;
}

.links{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    gap: 4px;
    text-decoration: none;
}

.title-categorias-menu{
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}

.icon-home-menu{
    width: 30px;
    height: 30px;
}

.list-services{
    width: 100%;
    height: max-content;
}

.service-options{
    width: 100%;
    height: max-content;
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
    margin-bottom: 18px;
}

.service-options-off{
    width: 100%;
    height: max-content;
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}


.title-services{
    font-size: 18px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    letter-spacing: -1px;
    color: black;
}

.message-orc{
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: #000;
    text-decoration: underline;
}

.container-apps{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
}

.element-message-app{
    width: 220px;
    text-align: center;
    font-size: 13px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: #000;
}

.element-icon-apps{
    width: 60px;
    height: 60px;
}



/* FIM DO MENU */

.casa-e-escritorio{
    font-size: 18px;
    font-family: 'M PLUS 2';
    font-weight: 400;
    color: black;
}


.cont-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.2%;
    height: 5.5rem;
    pointer-events: none;
}

.logo-icon{
    width:60px;
    height: 55px;
    margin-bottom: -6px;
    pointer-events: none;
    user-select: none;
}

.title-logo{
    font-family: 'M PLUS 2';
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.075em;
    margin: 0px;
    user-select: none;
    pointer-events: none;
}

.cont-navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.2%;
    height: 90%;
}

.text-navegacao{
    color: black;
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
    transition: 0.5s;
}

.text-navegacao:hover{
    color: rgb(47, 47, 47);
    text-decoration: underline;
}

.text-navegacao-off{
    color: black;
    font-size: 20px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    text-decoration: none;
}


.text-navegacao-off:hover{
    color: rgb(47, 47, 47);
    text-decoration: underline;
}

/* FAIXA 1 */

.cont-faixa1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 19rem;
    background-image: url("./assets/images/background-faixa1.svg");
}

.cont-info1-f1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 40%;
    gap: 5px;
}

.cont-info2-f1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;    
    width: 95%;
    height: 40%;
}

.title-f1{
    color: #FF9F46;
    font-size: 25px;
    font-family: 'M PLUS 2';
    text-decoration: underline;
}

.subtitle-f1{
    width: 15.5rem;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    font-family: 'M PLUS 2';
}

.title2-f1{
    color: #fff;
    text-align: right;
    font-size: 18px;
    font-family: 'M PLUS 2';
    text-decoration: underline;
}

.cont-faixa2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 20px;
    padding-top: 20px;
}

.cont-titulo-faixa2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 3rem;
    background-color: #f6ef24d9;
}

.icon-faixa1{
    width: 30px;
    height: 30px;
}

.title-faixa1{
    font-family: 'M PLUS 2';
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
}

.cont-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    height: 30rem;
}

.card-produtos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 17rem;
    height: 25rem;
    border: 0.1px solid #959595;
}

.cont-group1-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: 15rem;
}

.cont-desc-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 3rem;   
}

.cont-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.9rem;
    height: 75%;
    border-radius: 4px;
    background-color: #F6EE24;
}

.porcentagem-desconto{
    margin: 0px;
    font-size: 15px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: black;
}

.cont-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 75%;
    border-radius: 4px;
    background-color: #F6EE24;
}

.icon-card{
    width: 30px;
    height: 30px;
}

.cont-imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10.5rem;
}

.imagem-produto{
    width: 95%;
    height: 100%;
}

.cont-group2-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 9.4rem;
    border-top: 0.1px solid #959595;
    padding: 10px;
    gap:2px;
}

.prod-name{
    height: 2.5rem;
    font-family: 'M PLUS 2';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: black;
}

.cont-valor-prod{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 3rem;
    margin-bottom: 10px;
}

.valor-produto{
    font-size: 13px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    text-decoration: line-through;
    color: #AB0B0B;
}

.valor-desconto{
    font-size: 18px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: #1A5D03;
    margin-top: -5px;
}

.botao-compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    width: 8rem;
    height: 2.5rem;
    border-radius: 3px;
    background-color: #F6ED19;
    cursor: pointer;

    font-size: 14px;
    font-family: 'M PLUS 2';
    font-weight: 500;
    color: black;
    transition: 0.2s;
}

.botao-compra:hover{
    background-color: transparent;
    color: rgb(42, 42, 42);
    border: 0.1px solid rgb(42, 42, 42);
}

/* RODAPÉ */

.rodape-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 26rem;

    background-color: #F7F043;
}

.cont-logo-rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 5rem;
    gap: 5px;
    padding-left: 20px;

    border-bottom: 1px solid #000;
}

.cont-infos-rodape{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 17rem;
}

.title-logo-rodape{
    font-family: 'M PLUS 2';
    color: black;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.075em;
    margin: 0px;
    user-select: none;
    pointer-events: none;
}

.cont-info-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    width: 33.3%;
    height: 100%;
    border-right: 1px solid #000;
}

.cont-info-off{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 13px;
    width: 33.3%;
    height: 100%;
}

.title-info-rodape{
    font-family: 'M PLUS 2';
    font-size: 19px;
    text-decoration: underline;
}

.list-info-rodape{
    width: 100%;
    height: max-content;
}

.iten-list{
    color: #000;
    font-size: 22px;
    font-family: 'M PLUS 2';
    margin-bottom: 15px;
}

.cont-produtos-rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    width: 80%;
    height: 3rem;
}

.link-produto-rodape{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    gap: 8px;
    text-decoration: none;
}

.icon-produto-rodape{
    width: 40px;
    height: 40px;
}

.title-produto-rodape{
    color: #000;
    font-size: 21px;
    font-family: 'M PLUS 2';
    font-weight: 400;
    transition: 0.3s;
}

.title-produto-rodape:hover{
    text-decoration: underline;
}

.name-developer{
    color: #000;
    font-size: 20px;
    letter-spacing: -0.075em;
    font-family: "M PLUS 2";
}

.cont-info-dev{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    width: 80%;
    height: 2.5rem;
    gap: 5px;
}

.icon-info-dev{
    width: 35px;
    height: 40px;
}

@media screen and (max-width: 1000px) and (min-width: 300px) {
    /* CABEÇALHO */

    .cabecalho-home{
        height: 11rem;
    }
    .menu-icon{
        width: 60px;
        height: 60px;
    }
    .cont-logo{
        width: 35%;
        height: 7rem;
        pointer-events: none;
    }
    .logo-icon{
        width: 90px;
        height: 90px;
    }
    .title-logo{
        width: max-content;
        font-size: 50px;
    }
    .text-navegacao{
        display: none;
    }
    .text-navegacao-off{
        display: none;
    }

    /* LINK WHATS */

    .cont-whats-compra{
        width: 200px;
        height: 200px;
    }

    /* MENU */

    .button-menu:focus + .menu-open{
        width: 40rem;
    }
    .menu-open:hover{
        width: 40rem;
    }
    .cont-01-menu{
        height: 11rem;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: 20px;
        gap: 160px;
    }
    .title-menu-01{
        font-weight: 500;
        font-size: 55px;
    }
    .cont-02-menu{
        height: max-content;
        margin-bottom: 20px;
        gap: 30px;
    }
    .topico-categorias{
        margin-top: 50px;
        font-size: 40px;
    }
    .cont-01-cat{
        padding-left: 30px;
        height: max-content;
        gap: 20px;
    }
    .title-categorias-menu{
        font-size: 40px;
    }
    .icon-home-menu{
        width: 70px;
        height: 70px;
    }
    .list-services{
        width: 90%;
    }
    .service-options{
        font-size: 35px;
    }
    .service-options-off{
        font-size: 35px;
    }
    .title-services{
        font-size: 40px; 
    }
    .message-orc{
        text-align: center;
        font-size: 38px;
    
    }
    .container-apps{
        width: 100%;
        height: max-content;
        gap: 25px;
    }
    .element-message-app{
        width: 90%;
        height: max-content;
        font-size: 37px;
    }
    .element-icon-apps{
        width: 130px;
        height: 130px;
    }

    /* FAIXA 1 */

    .cont-faixa1{
        padding-top: 10px;
        justify-content: flex-start;
        height: 23rem;   
    }
    .cont-info1-f1{
        align-items: center;
        height: 60%;
        gap: 20px;
    }
    .cont-info2-f1{
        display: none;
    }
    .title-f1{
        font-weight: 500;
        font-size: 40px;
    }
    .subtitle-f1{
        width: 80%;
        font-size: 30px;
    }

    /* FAIXA 2 */

    .cont-titulo-faixa2{
        height: 7rem;
    }
    .icon-faixa1{
        width: 70px;
        height: 70px;
    }
    .title-faixa1{
        font-size: 50px;
    }
    .cont-cards{
        height: max-content;
        flex-wrap: wrap;
    }
    .card-produtos{
        width: 47rem;
        height: 78rem;
        margin-bottom: 40px;
    }
    .cont-group1-card{
        padding-top: 28px;
        height: 60%;
    }
    .cont-group2-card{
        height: 40%;
        padding-top: 20px;
        gap: 20px;
    }
    .cont-desc-icon{
        width: 90%;
        height: max-content;
    }
    .cont-desc{
        width: 10rem;
        height: 7rem;
        border-radius: 13px;
    }
    .porcentagem-desconto{
        font-size: 45px;
    }
    .cont-icon{
        width: 7rem;
        height: 90%;
    }
    .icon-card{
        width: 70px;
        height: 70px;
    }
    .cont-imagem{
        width: 80%;
        height: 30rem;
        margin-top: 30px;
    }
    .prod-name{
        padding-top: 10px;
        height: 9rem;
        font-size: 45px;
        margin: 0px;
    }
    .cont-valor-prod{
        width: 90%;
        height: max-content;
        margin-bottom: 20px;
    }
    .valor-produto{
        font-size: 42px;
        width: 100%;
        height: 4rem;
    }
    .valor-desconto{
        font-size: 50px;
        width: 100%;
        height: max-content;
    }
    .botao-compra{
        width: 30rem;
        height: 6rem;
        border-radius: 10px;
    
        font-size: 35px;
    }
    
    /* RODAPÉ */

    .rodape-home{
        width: 100%;
        height: max-content;
    }
    .cont-logo-rodape{
        width: 90%;
        height: 12rem;
        align-items: center;
        justify-content: center;
    }
    .logo-icon{
        width:  110px;
        height: 110px;
    }
    .title-logo-rodape{
        font-size: 55px;
    }
    .cont-infos-rodape{
        flex-direction: column;
        width: 100%;
        height: max-content;
    }
    .cont-info-on{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 30rem;

        border: 0.1px solid rebeccapurple;
    }
    .cont-info-off{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 30rem;

        border: 0.1px solid rebeccapurple;
    }
    .title-info-rodape{
        font-size: 40px;
    }
}